<h3>Filtros</h3>

<mat-form-field appearance="outline" class="full">
  <mat-label>Tramo</mat-label>
  <mat-select
    [disabled]="forceTramo3"
    [ngModel]="forceTramo3 ? 3 : tramo()"
    (ngModelChange)="tramo.set($event)">
    <mat-option [value]="null">Sin especificar</mat-option>
    <mat-option [value]="3">Tramo 3</mat-option>
    <mat-option [value]="5">Tramo 5</mat-option>
  </mat-select>
</mat-form-field>

<div class="checks">
  <mat-checkbox
    [ngModel]="exclPromesas()"
    (ngModelChange)="exclPromesas.set($event)">
    Excluir promesas
  </mat-checkbox>

  <mat-checkbox
    [ngModel]="exclCompromisos()"
    (ngModelChange)="exclCompromisos.set($event)">
    Excluir compromisos
  </mat-checkbox>

  <mat-checkbox
    [ngModel]="exclBlacklist()"
    (ngModelChange)="exclBlacklist.set($event)">
    Excluir blacklist
  </mat-checkbox>
</div>

<button mat-stroked-button color="primary" (click)="emit()">Aplicar</button>
